.coin_page {
    display: flex;
    justify-content: center;
    height: 75vh;
    align-items: center;
  }
  
  .coin_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2fffe5;
    border-radius: 10px;
    padding: 4rem;
    width: 400px;
    margin-top: 2rem;
    margin-bottom: 4rem;

    @media (max-width: 768px) {
      font-size: 1.2rem;
      margin-right: 2rem;
      margin-left: 2rem;
    }
  
  }
  
  .coin_image {
    margin-bottom: 1rem;
    height:200px;
    width: 200px;
  }
  
  .coin_name {
    margin-bottom: 1rem;
  }
  
  .coin_ticker {
    margin-bottom: 1rem;
  }
  
  .coin_current {
    margin-bottom: 1rem;
    font-size: 1.2rem;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .coin_action {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  .coin_button {
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    border: none;
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    @media (max-width: 768px) {
      margin-right: 10px;
    }


    &::after {
      content: "";
      background: #ecf0f1;
      position: absolute;
      z-index: -1;
      padding: 0.85em 0.75em;
      display: block;
    }
  }


.slide {

    ＆::after {
      transition: all 0.35s;
   }

   &:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
   }

}


.slide_from_left{
    
    background: #91E3CE;
    border: 0.25rem solid #91E3CE;
    color: black;

    &:hover {
      color: #54D3B3;
    }
  
    &::after {
      top: 0;
      bottom: 0;
      left: -100%;
      right: 100%;
    }
}


.slide_from_right{
    
  background: #071827;
  border: 0.25rem solid #071827;

  &:hover {
    color: #0b253d;
  }

  &::after {
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
  }

}

